extends layout

block content
  link(rel='stylesheet', href='/stylesheets/chat.css')
  link(rel='stylesheet', href='/stylesheets/gameroom.css')
  body
    #chatbox
      ul#messages
        form#chat(action='')
          input#m(autocomplete='off')
          button Send
  canvas#gamesection
  script(src='javascripts/game.js')
