extends layout

block content
  link(rel='stylesheet', href='/stylesheets/chat.css')
  link(rel='stylesheet', href='/stylesheets/gameroom.css')
  body
    #chatbox
      ul#messages
        form#chat(action='')
          input#m(autocomplete='off')
          button Send
  #gamecontainer
    button#playcard(onclick='playFunction()') Play Card
    button#endturn(onclick='endTurnFunction()') End Turn
    img#playerCard1_1(src='images/guard.jpg' onclick='selectCard(this)')
    img#playerCard1_2(src='images/4.jpg' onclick='selectCard(this)')
    img#playerCard2_1
    img#playerCard2_2
    img#playerCard3_1
    img#playerCard3_2
    img#playerCard4_1
    img#playerCard4_2
    img#deck(src='images/l5r.jpeg')

  script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.5.3/jquery.timeago.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
  script(src='/javascripts/lobby.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/gameplay.js')
