extends layout

block content
  link(rel='stylesheet', href='/stylesheets/chat.css')
  body
    #chatbox
      ul#messages
        form#chat(action='')
          input#m(autocomplete='off')
          button Send
  #games
  form#creategames(action='/gamelobby' method='POST')
    button( type='submit') Create Game
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/lobby.js')

