extends layout

block content
  link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #rules
      p 1. Each player is dealt one card at the beginning of the game.
      p 2. Each player draws a card at the beginning of their turn.
      p 3. You will then choose one card to discard from your hand.
      p 4. Perform the action on the discarded card.
      p 5. That is the end of a player's turn.
      p#special *Win condition: If only one player is still in the round, they win. Otherwise all players reveal their hands. The player with the highest ranked card wins the round.
