body {
  font:13px Helvetica, Arial;
}

#chat {
  background: #000;
  padding: 2px;
  position: fixed;
  bottom: 3px;
  width: 30.3%;
  right: 1%;
}

#gameroomchat {
  background: #000;
  padding: 2px;
  position: fixed;
  bottom: 3px;
  width: 30.3%;
  right: 1%;
}

#chat input {
  border: 0;
  padding: 10px;
  width: 85%;
  margin-right: .5%;
}

#gameroomchat input {
  border: 0;
  padding: 10px;
  width: 85%;
  margin-right: .5%;
}

#chat button {
  width: 14%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

#gameroomchat button {
  width: 14%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

#chatbox {
  position: fixed;
  bottom: 6%;
  right: 1%;
  width: 30.3%;
  height: 500px;
  border: 1px solid #4578ea;
  overflow-y: auto;
}

#messages {
  list-style-type: none;
  padding: 0;
}

#gameroommessages {
  list-style-type: none;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#gameroommessages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

#gameroommessages li:nth-child(odd) {
  background: #eee;
}
