#gamecontainer {
  position: fixed;
  width: 65%;
  height: 90%;
  left: 2%;
  top: 8%;
  border: 3px solid #000000;
}

#begin {
  position: fixed;
  left: 14%;
  bottom: 3%;
}

#playcard {
  position: fixed;
  left: 24%;
  bottom: 3%;
  visibility: hidden;
}

#endturn {
  position: fixed;
  left: 35%;
  bottom: 3%;
  visibility: hidden;
}

#deck{
  position: fixed;
  width: 8%;
  height: 19%;
  background: url(l5r.jpeg);
  left: 27%;
  top: 42%;

}

#playerCard1_1 {
  position: fixed;
  width: 8%;
  height: 19%;
  left: 23%;
  bottom: 10%;
}

#playerCard1_2 {
  position: fixed;
  width: 8%;
  height: 19%;
  left: 34%;
  bottom: 10%;
}

#player2 {
  position: fixed;
  left: 58%;
  bottom: 5%;
}

#playerCard2_1 {
  position: fixed;
  left: 50%;
  top: 34%;

}

#playerCard2_2 {
  position: fixed;
  left: 50%;
  top: 55%;

}

#player3 {
  position: fixed;
  left: 52%;
  bottom: 10%;
}

#playerCard3_1 {
  position: fixed;
  width: 8%;
  height: 19%;
  left: 23%;
  top: 12%;

}

#playerCard3_2 {
  position: fixed;
  width: 8%;
  height: 19%;
  left: 34%;
  top: 12%;

}

#player4 {
  position: fixed;
  left: 46%;
  bottom: 5%;
}

#playerCard4_1 {
  position: fixed;
  left: 5%;
  top: 34%;

}

#playerCard4_2 {
  position: fixed;
  left: 5%;
  top: 55%;

}

.rotate90 {
  transform : rotate(90deg);
  width: 8%;
  height: 19%;
}

.rotate_90{
  transform :rotate(-90deg);
  width: 8%;
  height:19%;
}

.rotate180{
  transform: rotate(180deg);
  width: 8%;
  height: 19%;
}
