body {
  padding-top: 70px;
  padding-bottom: 30px;
}


a:hover {
  background-color: #FF5050;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

#games {
  position: fixed;
  top: 10%;
  left: 3%;
  width: 30%;
  height: 50%;
  border: 3px solid #73AD21;
}

#gamelobby {
  position: fixed;
  top: 10%;
  left: 3%;
  width: 30%;
  height: 50%;
  border: 3px solid #73AD21;
}

#creategames {
  position: fixed;
  top: 60%;
  left: 25%;
}

#joingame{
  position: fixed;
  top: 60%;
  left: 15%;
}

#startgame {
  position: fixed;
  top: 60%;
  left: 25%;
}

#rules {
  text-align: center;
  font-size: 18px;
}

#special {
 font-style: italic;
}
