body {
  padding-top: 70px;
  padding-bottom: 30px;
}

a:hover {
  background-color: #FF5050;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

#rules {
  cursor: pointer;
}

#menu {
  left: 400px;
  text-align: left;
  width: 20%;
}

#special {
 font-style: italic;
}
