body {
  padding-top: 70px;
  padding-bottom: 30px;
  top: 15%;
}

a {
  float: left;
}
.main {
  position: fixed;
  top: 25%;
  left: 35%;
}
.navbar {
  position: fixed;
  top: 15%;
  width: 100%;
}

a:hover {
  background-color: #c0c0c0;
  width: auto;
  border-radius: 10px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

#logo {
  position:fixed;
  top: 0;
  left: 35%;
}

#games {
  position: fixed;
  top: 30%;
  left: 3%;
  width: 30%;
  height: 45%;
  border: 3px solid #73AD21;
}

#gamelobby {
  position: fixed;
  top: 25%;
  left: 3%;
  width: 30%;
  height: 40%;
  border: 3px solid #73AD21;
}

#creategames {
  position: fixed;
  bottom: 20%;
  left: 25%;
}

#joingame{
  position: fixed;
  bottom: 20%;
  left: 15%;
}

#rules {
  position: fixed;
  font-size: 18px;
  top: 22%;
  left: 35%;
}

#special {
  position: fixed;
  font-size: 18px;
  top: 47%;
  left: 25%;
}

#gamelist .ui-selecting{
  background: #FF5050;
}
#gamelist .ui-selected {
  background: #FF5050; color: white;
}

#gamelist{
  list-style-type: none;
  padding: 0;
  text-align: center;
}

#gamelist li{
  padding: 5px 10px;
}

#gamelist li:hover{
  background-color: #FF5050;

}
